<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <% @posts.each do |post| %>
   <h1>
   <div> <%= post.date %> </div>
   <div> <%= post.alphanumeric %> </div>
   <div> <%= post.risk_reward %> </div>
   <div> <%= post.content %> </div>
   </h1>
   <% end %>
   
</div>
