
  <h1>
    <%= @user.name %>
  </h1>

<div class="posts_content">  
  <% @posts.each do |post| %>
   <h3>
   <div> エントリー日時：  <%= post.date %> </div>
   <div> 時間足：  <%= post.alphanumeric %> </div>
   <div> リスクリワード： <%= post.risk_reward %> </div>
   <div> エントリー根拠：  <%= link_to post.content, post_path(post) %></div>
   
   </h3> 
   
   <h4>
    <div>
      <%= link_to "削除", post, data: { "turbo-method": :delete,
                                          turbo_confirm: "この投稿を削除しますか?" } %> 
    <div>                                      
   </h4>                                                                        
  <% end %>
</div>
  

</div>
